*
{
    padding: 0px;
    margin: 0px;
}

.Intro{
   position: center center;     
   color: white;
   text-align: center;
   
}   

.first-section{
    background-image: url('../img/header-bg.jpeg');
    background-repeat: no-repeat;
    height: 460px;
    padding: 5rem;
    
}

h1{
    margin-bottom: 2rem     ;
    font-size: 35px;
}

#second-heading{
    margin-top: 2rem
}

.experiance
{
    margin-top: 0px;
    padding: 0em;
    text-align: center;
    /* background-color: lightblue; */
    margin: 0rem 0rem 2rem 0rem;

}

.description{
    background-color: slategray;
}

.first-grid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 25rem;
    margin-right: 25rem;
    
    
    /* margin-left: auto;
    margin-right: auto; */
}

.first-grid>div{
    background-color: white;
    border: 0.2rem solid black;
    margin: 0rem 0.5rem;
}

.first-grid >div>h2{
    padding: 2rem;
}

.first-grid > div > img
{
    /* height: 11rem; */ 
}
img{
    width: 100%;
}

.contact-info{

    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.employers-class {
    padding-top: 1rem ;
    padding-bottom: 1rem;
    background-color: aqua;
}

.employers-class > p{
    padding-top: 1rem;
}

.footer{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap:1rem;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    /* height: 5rem; */
    padding: 1rem 1rem;
}

.contact-me > p{
    padding-top: 1rem;
}

.contact-me
{
    padding-top: 1rem; 
}

i{
    padding-left: 7rem;
}

@media (max-width:768px)
{
    .first-grid{
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    }
}

@media (max-width:500px)
{
    .first-grid{
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
    }

    .footer{
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
     
    }

    .contact-me{
        grid-template-columns: 1fr;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

